@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --fontcolor-side: #c2c7d0;
  --bgc-sidenav: #343a40;
  --fontcolor-header: #00000080;
  --bordercolor: #c2c7d039;
}

.forget-password-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forget-password-content h1 {
  color: var(--bgc-sidenav);
  margin-top: 70px;
  font-family: "Source Sans 3", serif;
  font-weight: 600;
}

.forget-password-content h1 span {
  color: var(--bgc-sidenav);
  font-family: "Source Sans 3", serif;
  font-weight: 300;
}

.forgetpassword-wholebox {
  margin-bottom: 60px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.forgetpassword-topbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  background-color: var(--bgc-sidenav);
  padding: 20px 30px;
}

.forgetpassword-topbox img {
  width: 200px;
}

.forgetpassword-topbox p {
  color: white;
  text-align: center;
}

.forget-password-box {
  width: 400px;
  height: 230px;
  border-radius: 5px;
  padding: 20px 30px;
}

.forget-password-box p {
  font-family: "Source Sans 3", serif;
  font-size: 16px;
  text-align: center;
  color: var(--bgc-sidenav);
}

.forget-password-box .forget-password-form .forgetpasswor-email {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

.forget-password-box .forget-password-form .forgetpasswor-email input {
  width: inherit;
  padding: 10px;
  font-family: "Source Sans 3", serif;
  font-size: 16px;
}

.forget-password-box .forget-password-form .forgetpasswor-email i {
  position: absolute;
  font-size: 20px;
  right: 20px;
  top: 11px;
  color: var(--bgc-sidenav);
}

.forgetpassword-button {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}

.forgetpassword-button button {
  width: inherit;
  font-family: "Source Sans 3", serif;
  font-size: 16px;
  background-color: var(--bgc-sidenav);
  border: 2px solid transparent;
  border-radius: 5px;
  color: white;
}

.forgetpassword-button button:hover {
  background-color: white;
  color: var(--bgc-sidenav);
  transition: 1s ease;
  border: 2px solid var(--bgc-sidenav);
}

.forget-password-box h5 {
  color: var(--bgc-sidenav);
  cursor: pointer;
}

.forget-password-box h5:hover {
  color: var(--fontcolor-header);
}
