@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --fontcolor-side: #c2c7d0;
  --bgc-sidenav: #343a40;
  --bordercolor: #c2c7d039;
  --darkblue: #148a9d;
}

.container {
  display: flex;
}

.side-nav.expanded {
  background-color: var(--bgc-sidenav);
  width: 250px;
  height: 100vh;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.side-nav.minimized {
  background-color: var(--bgc-sidenav);
  width: 70px;
  height: 100vh;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main.expanded {
  margin: 10vh 0 20px 250px;
}

main.minimized {
  margin: 10vh 0 20px 70px;
}

.side-nav-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-bottom: 1px solid #c2c7d039;
}

.side-nav-logo img {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.side-nav-logo h2 {
  font-family: "Source Sans 3", serif;
  font-weight: 300;
  color: var(--fontcolor-side);
  font-size: 18px;
  cursor: pointer;
}

.side-nav-logo h2:hover {
  color: white;
}

.side-nav-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 7px 15px 10px 15px;
  margin: 5px 5px;
  border-bottom: 1px solid #c2c7d039;
}

.side-nav.minimized .side-nav-logo h2 {
  display: none;
}

.side-nav.minimized .side-nav-profile h3 {
  display: none;
}

.side-nav-profile img {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.side-nav-profile h3 {
  font-family: "Source Sans 3", serif;
  font-weight: 500;
  color: var(--fontcolor-side);
  font-size: 14px;
  cursor: pointer;
}

.side-nav-profile h3:hover {
  color: white;
}

.side-nav-logout {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0 10px;
  padding: 9px 10px;
  color: var(--fontcolor-side);
  font-size: 26px;
  cursor: pointer;
}

.side-nav-logout .side-nav-button {
  border: none;
  font-family: "Source Sans 3", serif;
  font-weight: 500;
  background-color: transparent;
  font-size: 16px;
  color: var(--fontcolor-side);
}

.side-nav-logout:hover {
  background-color: var(--fontcolor-side);
  border-radius: 5px;
  color: var(--bgc-sidenav);
}

.side-nav-logout:hover .side-nav-button {
  background-color: var(--fontcolor-side);
  border-radius: 5px;
  color: var(--bgc-sidenav);
}

.side-nav-logout .side-nav-button.minimized {
  display: none;
}

.side-nav-options {
  margin-top: 30px;
}

.side-nav-link {
  display: flex;
  align-items: center;
  font-family: "Source Sans 3", serif;
  font-weight: 500;
  gap: 20px;
  margin: 10px 10px;
  color: var(--fontcolor-side);
  padding: 5px 10px;
}

.active {
  background-color: var(--darkblue);
  color: white;
  border-radius: 5px;
}

.side-nav-linktext {
  font-size: 16px;
}

.side-nav-linktext.minimized {
  display: none;
}

.side-nav-link:hover {
  background-color: var(--fontcolor-side);
  color: var(--bgc-sidenav);
  border-radius: 5px;
}

.side-nav-icon {
  font-size: 26px;
}
