@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --fontcolor-side: #c2c7d0;
  --bgc-sidenav: #343a40;
  --fontcolor-header: #00000080;
}

.userprofile h1 {
  font-weight: 500;
  font-family: "Source Sans 3", serif;
  margin-left: 20px;
}

.userprofile-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.profile-info {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px 15px;
  padding: 20px;
  border-radius: 5px;
}

.profile-info h3 {
  font-family: "Source Sans 3", serif;
  font-weight: 600;
}

.profile-info h3 span {
  font-weight: 400;
}
