@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --fontcolor-side: #c2c7d0;
  --bgc-sidenav: #343a40;
  --fontcolor-header: #00000080;
}
