@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --fontcolor-side: #c2c7d0;
  --bgc-sidenav: #343a40;
  --fontcolor-header: #00000080;
}

.usermanagement h1 {
  font-family: "Source Sans 3", serif;
  font-weight: 500;
  margin-left: 20px;
}

.usermanagement-content {
  margin: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 5px;
}

.management-search {
  display: flex;
  align-items: center;
  margin: 30px;
}

.management-search input {
  font-family: "Source Sans 3", serif;
  font-size: 16px;
  width: 300px;
  padding: 7px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid var(--fontcolor-header);
}

.management-search i {
  font-size: 20px;
  padding: 5.1px 10px;
  border-bottom: 1px solid var(--fontcolor-header);
  border-top: 1px solid var(--fontcolor-header);
  border-right: 1px solid var(--fontcolor-header);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.management-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.management-header .management-crudicons {
  display: flex;
  gap: 10px;
}

.management-header .management-crudicons i {
  color: var(--bgc-sidenav);
  font-size: 30px;
  margin-right: 20px;
}

.management-header .management-crudicons i:hover {
  color: var(--fontcolor-header);
}

.management-table {
  min-width: inherit;
  padding: 25px;
}

.management-table table {
  border-collapse: collapse;
  min-width: inherit;
}

.management-table table th {
  border: 1px solid var(--fontcolor-header);
  padding: 10px;
  color: black;
  text-align: start;
  font-family: "Source Sans 3", serif;
}

.management-table table thead tr th:last-child {
  min-width: 100px;
}
.management-table table thead tr th:nth-last-child(2) {
  min-width: 150px;
}

.management-table table thead tr th:nth-last-child(3) {
  min-width: 210px;
}

.management-table table thead tr th:first-child {
  min-width: 650px;
}

.usermanagement.minimized
  .usermanagement-content
  .management-table
  table
  thead
  tr
  th:first-child {
  min-width: 800px;
}

.management-table table th i {
  margin-left: 10px;
}

.management-table table tbody tr td {
  border: 1px solid var(--fontcolor-header);
  padding: 10px;
  height: 20px;
}

.management-actionicon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.management-actionicon i {
  font-size: 25px;
  color: var(--bgc-sidenav);
}

.management-actionicon i:hover {
  color: var(--fontcolor-header);
}
